.formContainer {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px grey;
  max-width: 800px;
  width: 100%;
  min-width: 320px;
}

.formHeader {
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputName {
  font-weight: bold;
}

.input {
  padding: 10px;
}

.inputValid {
  border: 2px solid green;
}

.inputInvalid {
  border: 2px solid red;
}
